//@import 'linies.scss';

//@import "tv";

:root {
    --cur:  url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAAUCAYAAAC9BQwsAAAAAXNSR0IArs4c6QAAAcdJREFUOE+V1E2rEmEUB/D/39woCIoIyiCIIiLiy0bEhRJKgi4S/AxhqxbRJ2ihuBMXBdrCVeDmwm0hgYvu+gpRwaC06MVamIStxqhm8cQZuJfK185yOL8553nmnKFSSgF4CeAmSQMnBk3TVLPZDKlUagLgDsnPp1iu12uVzWYxHA5RLBbPATwg+f4YtqDX60UikUCv10O5XH4G4N6xytdQKsTjcfT7fRQKhQsAtw+d+S8oOBgMYjweI5lMzkgm9rW8BSXR5XJhsVjA4/F8IRnYhXdCSXS73dB1HZqmvQZQIfn1zxfshZIUCoUwGo2Qy+VeAGiSfHeFD8IrLBdWqVSeA7hP8q08PwolKRaLodvtolqtypDcJfnxJCg4EolgMBigVCpdArh1MhTs8/kwmUyQyWQ+/Re02+2w2WxYLpfHz+h0Oq02JTqdDmq12gcAxt6KJNFoNBCNRtFut5eyeiR/AngIQN+C9XrdGniJVqv1A8Bj0zTfzOfzs3Q6vdn6jvl8Hs1mU1YLgUDgkcPheAXgO4Azkr/+HTtrkafTqXVj4XD4qVLqyWq10jVN+0ZS/g47g0oprwzCZrO5YRiG4ff7r9s5tMy/AQJmwJDfLPGDAAAAAElFTkSuQmCC"), auto;
    --grab: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABUAAAAZCAYAAADe1WXtAAAAAXNSR0IArs4c6QAAAoZJREFUSEvVle9LU1EYx79nu95x25x1py6nRkLvgrX5xhm07A9IkX5igpCWUTYnxYoKtL2QLN9UWDFzrF4FLX8EAwX/gN71Q0PIF0klkw6RMq+wsXtPnIvZCM2r+cYvXLj3cM7nfJ/nPOe5BKuIMWYD8GVhYWGXIAiwWq1xAE2EkKXV5v89RtaAvgFQJeWJ8B/2Y2x8nE/rIoTc/m+o01GIQ34/4kODWwctde6Gr7oar4aHtg7qKnai+iCHDm8dlDut8vkwOLLNoCkA/OHaTwiZX6sS/llSuQelqipazjaj9UKrfngAxByoSgjRfn+vC/VWVqLv8SMM9D9FLBrFj/l5fJ39hoKCAszMzMBms8HpdD4A8HAZ+nldqCRJYIyBOzWbzfr7k/4INE3DqRMnUX/8GGKxGKamplBWWoZ8e369IWhu7gghyGazOpxfYbfbjdMNDXj+LIaamiMIdASxYSjfgC3vwhfnRsGjeTvxYXFT0LVOPZPJ4N3kRHIbQRljMoC5nJCaALTz1sfrlJ++Ua2Er6pqdmx0NDsQiSzd7+vLyLJcKEmSCQApKSrmDdooEytQSulsRfkelyzLWEylcClwea62rm6nx+sVy0tcps1Cv+/bW1HkcDjAazCdTuvO7t7rTd+6ecPCx4yKO33/cfInURSFdQTa8XpkRM8fvzWaqkJjDGbB/KcoDZCP1taiu+cOCGMsRCntCXd2Iv4yroNNJp7SjYv/IQ54PNc4NA9AIJlM9oY7u5BIJJAnCHoqNqLmcy242NbGG41DX8kY28HLiFLaTSnNXAkGhelP04btNjSewdVQCHa7vRHAixU7y47DAK4riqJ3IaMSRREWi+U8gCghRP0FclNORopVtbsAAAAASUVORK5CYII="), auto;
}

svg.star {               
    opacity: 0;
    height: 38.5px;
    width:55px;
    position: absolute;
    margin-left: -60.5px;
    margin-top: -10.5px;
}

li svg {
  opacity: 0;
/*   transition: opacity 0.3s ease; */
  pointer-events: none;
}

li:hover svg,
li svg.fav {
  opacity: 1 !important;
  pointer-events: initial;
}

li svg.fav .bg_star {
  fill: #FFC83D !important;
}


.team1Table tr:not([class]), .team2Table tr:not([class]) {
    pointer-events: none;
}

html {
    //cursor: url('../img/cur.png'), auto;
    cursor: var(--cur);
   -webkit-user-select: none;
   -moz-user-select: none;
   -ms-user-select: none;
   user-select: none;
   

    body {
       // cursor: url('../img/cur.png'), auto;
       cursor: var(--cur);
        @media (max-width: 1800px) {
            zoom:70%;
        }
        
        margin: 0;
        padding: 0;
        overflow: hidden;

            img.foneBg {
                position: fixed;
                pointer-events:none;
                background-size: cover;
                //object-fit: contain;
                z-index: -1;
                @media (max-width: 1800px) {
                  width: 100%;
                }
            }
            
            img.operBg {
                pointer-events:none;
                //outline: 2px ridge red;
                position: fixed;
                background-size: cover;
                left: 50%;
                transform: translateX(-50%);
                //top:calc(100vh - 83%);
                bottom: 0;
                z-index: -1;
                @media (max-width: 1800px) {
                    zoom:110%;
                }
            }
        
    }



    .vLoading {
        position: absolute;
        left: 50%;
        transform: translate(-50%, -50%);
        top: 50%;
        width: 100px;
        height: 100px;
    }

    @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
    font-family: "Roboto",
    sans-serif;
    //background-image: url('https://cdn.playcaliber.com/site/media/wallpapers/2021/09/08/wallpapers-ksk_1920.jpg');
    background-color: black;
    background-position: bottom -250px right -60px;
    background-size: cover;
    background-repeat: no-repeat;
    //font-family: "Consolas", Sans-Serif;
    //position: relative;

    ::-webkit-scrollbar {
        width: 5px;
        border-color: rgb(255, 0, 0);
       // background-color: rgb(255, 0, 0);
    }

    ::-webkit-scrollbar-thumb {
        border-width: 1px 1px 1px 2px;
        border-color: rgb(255, 0, 0);
        background-color: rgb(255, 0, 0);
    }

    ::-webkit-scrollbar-thumb:hover {
        border-width: 1px 1px 1px 2px;
        border-color: rgb(255, 0, 0);
        background-color: rgb(255, 0, 0);
    }

    ::-webkit-scrollbar-track {
        border-width: 0;
    }


}

// .allHints {
//     width: 100vw;
//     height: 100vh;
//     position: absolute;
//     //height: 100vh;
// }

.hint {
    z-index: 999;
    position: absolute;
    max-height: 200px;
    width: 250px;
    height: auto;
    display: none;
    background-color: #222222;
    color: #898989;
    padding: 10px;
    font-size: 14px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}


.container_tables.show {
    transform: translateX(20%);
    transition: 1s ease;
}


// symbol > polygon {
//     transform: scale(0.8) translate(15%, 10%);
// }

.container_tables {
    z-index: 999;
    transition: all .8s ease-in-out;
    display: block;
    margin-top: 0px;
    @media (max-width: 1800px) {
        zoom:110%;
    }

    table {
        margin: 0 auto;
        transform: scale(.75);
        text-align: center;
        background: #1919192d;
        color: #ffffff;
        border-collapse: collapse;
        

        th {
            font-size: 13.5px;
            font-weight: 200;
            color: white;
            text-align: center;
            padding-right: 25px;

            &:nth-child(5) {
                padding-right: 100px;
            }
        }

        td {
            background: #0000007d;
            //padding-right: 15px;
            width: 80px;

            &:nth-child(5) {
                padding-right: 100px;
            }

            &:nth-child(6) {
                padding-right: 25px;
            }

            &:nth-child(7) {
                padding-right: 25px;
            }

            &:nth-child(8) {
                padding-right: 25px;
            }

            &:nth-child(9) {
                padding-right: 25px;
            }

            &:nth-child(10) {
                padding-right: 25px;
            }
        }

        tr {
            padding: 0;
        }

        tbody:first-child {
            transform: translateY(-10px);
        }

        tbody:not(:nth-child(1))>tr {
            //cursor: url('../img/grab.png'), auto;
            cursor: var(--grab);

            .rank {
                z-index: 9;
                transform: translate(-116px, 8px);
                position: absolute;
                //text-align: right;
                font-size: 12px;
                width: 30px;
                background-color: rgba(0, 0, 0, 0.5);
            }

            .rankEmbed {
                position: absolute;
                width: 60px;
                height: 30px;
                transform: translate(-146px, 35px) rotateY(180deg);
                transform: translate(-427px, 37px) rotateY(0deg);
            }

            .assaultLogo,
            .gunnerLogo,
            .medicLogo,
            .sniperLogo,
            .assaultRLogo,
            .gunnerRLogo,
            .medicRLogo,
            .sniperRLogo {
                width: 45px;
                height: 45px;
                //fill: #6aa5ee;
            }


            .oper {
                pointer-events:none;
                width: 80px;
                transform: translate(-10px, 3px);
            }

            .lvlOp {
                position: absolute;
                z-index: 9;
                color: #6aa5ee;
                font-weight: 600;
                font-size: 12px;
                transform: translate(20px, 2px);
            }

            .nameOp {
                font-size: 11px;
                //font-stretch: ultra-condensed;
                font-weight: 400;
                color: #fec544;
                position: absolute;
                transform: translate(-42px, 4px);
            }

            .bevel {
                width: 72px;
                height: 20px;
                background: rgba(0, 0, 0, 0.441);
                transform: translate(-84px, 33px);
                //opacity: .7;
            }

            .lvlText {
                position: absolute;
                color: black;
                font-size: 18px;
                font-weight: 600;
                z-index: 9;
                width: 20px;
                text-align: center;
                transform: translate(-40px, -11px);
                &:contains('100') {
                    left: 200px;
                }
            }

            .baner {
                pointer-events:none;
                border-radius: 5px;
                transform: translate(-85px, 4px);
            }

            tspan {
                white-space: normal !important;
                color: white;
            }
            
            .name {
                position: absolute;
                font-size: 20px;
                font-weight: 500;
                white-space: nowrap;
                max-width: 200px;
                transform: translate(-300px, 27px);
                text-shadow: 1px 3px 3px black;
                overflow: hidden;
                text-overflow: ellipsis;
            }

            .wrapper>svg {
                z-index: 9;
                position: absolute;
                width: 40px;
                height: 40px;
                border-radius: 10px;
                transform: translate(-47px, -10px);
                transform: translate(-47px, -23px);
                fill: #cbcccb9b;

                span {
                    position: relative;
                    font-size: 22px;
                    left: -3px;
                    top: -36px;
                    color: black;
                    font-weight: 800;
                }
            }

            .perks {
                transform: translate(250px, -6px);

                .perk {
                    width: 30px;
                    height: 30px;
                    fill: white;
                    position: absolute;
                    border: 0.1px solid rgba(255, 255, 255, 0.11);

                    &._1 {
                        transform: translate(-376px, -30px);
                    }

                    &._2 {
                        transform: translate(-350px, -30px);
                    }

                    &._3 {
                        transform: translate(-376px, 0px);
                    }

                    &._4 {
                        transform: translate(-350px, 0px);
                    }
                }
            }

            &:hover {
                background-color:rgba(255, 255, 255, 50%);
                outline: 4px ridge white;
               // transform: scale(1.05);
              //  transition: ease .5s !important;
            }
        }
    }

    .different {
        left: 1.5%;
        width: 372px;
        opacity: 0;
        text-align: right;
        font-weight: 600;
        z-index: 4;
        height: 55px;
        position: absolute;
        color: white;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        font-size: 12px;
        transition: opacity .5s ease-in-out;
        transform: translate(438px, -58px);
        &:hover{
            opacity:1;
        }
    }


    .team2Table {
        margin-top: -70px;
    }
}



.slide-out-panel {
    z-index: 1;
    position: fixed;
    margin-top: 10px;
    top: 0;
    left: -750px;
    width: 750px;
    height: 100%;
    //background-color: white;
    //box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    transition: left 1s ease;

    & input[type="file"] {
        display: none;
    }

    #list-container {
        display: none;
        overflow-y: auto;
        height: 65vh;
    }
}

.slide-out-panel.show {
    left: 0;
    margin-top: 10px;

    #list-container {
        text-align: center;
        padding: 10px;
        padding-top: 0;
        display: block;
        color: grey;
        position: absolute;
        top: 50%;
        font-family: monospace;
        font-size: 16px;

        //cursor: url('../img/grab.png'), auto;
        cursor: var(--grab);

        ul {
            display: grid;
            list-style: none;
            margin-left: 0;
            padding: 0;
        }

        li {
            display: grid;
            //grid-template-columns: repeat(3, 1fr);
            grid-template-columns: repeat(auto-fit, minmax(0, 1fr));
            width: 700px;
            list-style: none;
            font-size: 15px;
            padding: 10px 30px 10px 10px;
            background-color: #000000;
            border-radius: 3px;
            margin-bottom: 5px;
            margin-left: 20px;
            cursor: var(--grab);
            outline: 1px solid rgba(128, 128, 128, 0.51);
            font-family: monospace;

            & span {
                //text-align: left;

                & img.basket {
                    display: none;
                    position: absolute;
                    width: 20px;
                    height: 20px;
                    margin-left: 5%;
                    margin-top: -3px;
                }

              
            }


                

            & span:nth-child(1) {
                width: 65px;
                padding-left: 50px;
                text-align: center;
                white-space: nowrap;
                overflow: hidden;
                //text-overflow: ellipsis;
                text-transform: uppercase;
            }
        }

        li:hover {
            color: white;
           // padding: 8px 28px 8px 8px;
            outline: 3px solid white;

            & span {
                & img.basket {
                    display: inline;
                    opacity: .5;

                    &:hover {
                        opacity: 1;
                    }
                }

                & svg.star {
                    display: inline;
                    opacity: 1;
                }
            }
        }
    }
}
.icons {
   // cursor: url('../img/grab.png'), auto;
   cursor: var(--grab);
    position: absolute;
    //top: 0%;
    z-index: 5;
    position: absolute;
    background-color: black;
    outline: 1px solid grey;
    width: 40px;
    height: 40px;
    color: grey;
    &:hover {
        outline: 2px solid white;
        background-color: rgba(255, 255, 255, 50%);
        color:white;
    }
    
}
img.folder {
    left: 50px;

}

.custom-file-input {
    position: absolute;
    top: 21%;

    & input[type="file"] {
        display: none;
    }

    & label {
        display: inline-block;

        transform: translateX(7px);
       // cursor: url('../img/grab.png'), auto;
       cursor: var(--grab);
    }

   

    & label:hover {
        //background-color: #e6e6e6;
        //padding: 0px 0px 0px 1px ;
        //border: 1px solid white;
      //  cursor: url('../img/grab.png'), auto;
      cursor: var(--grab);
    }

    & label:active {
        //background-color: #d9d9d9;
        // cursor: pointer;
    }

    & label::before {

      // cursor: url('../img/grab.png'), auto;
      cursor: var(--grab);
        content: "";
        font-size: 14px;
        font-weight: 400;
        display: inline-block;
        color: #6aa5ee;
    }

    //   & input[type="file"]:focus + label::before {
    //     outline: 1px dotted #000;
    //     outline: -webkit-focus-ring-color auto 5px;
    //   }

}

#month-selector  {
  //  cursor: url('../img/grab.png'), auto;
  cursor: var(--grab);
    margin: 30px 0 10px;
    width: 226px;
    font-size: 16px;
}

button#show-panel {
    //cursor: url('../img/grab.png'), auto;
    cursor: var(--grab);
    height: calc(135px / 1.5 );
    width: calc(50px / 1.5);
    color: grey;
    font-size: 40px;
    font-weight: 800;
    font-family: "consolas";
    z-index: 2;
    position: fixed;
    //outline:1px solid grey;
    top: 50%;
    transition: all 1s ease;
    transform: translateY(-50%);
    left: 0;
    background-color: black;
    border: none;
    //border: 1px solid grey;

    &:hover {
        background-color: rgba(255, 255, 255, 50%);
        color: white;
        outline: 1px solid white;
    }
}
.slide-out-panel.show + button#show-panel {
    top: 10%;
  }

.calendar {
    color: white;
    margin-left: 20px;

    // position: absolute;
    // transform: translate(40px, 290px);
    .container {
        z-index: -1;
        position: absolute;
        top: 24%;

        //transform: translateY(-50%);
        table {
            border-collapse: collapse;
            thead>tr {
                color:#6aa5ee;
                text-decoration-line: underline;
            }

        }

        td {
            width: 30px;
            height: 30px;
            text-align: center;
            vertical-align: middle;
            border: 1px solid black;
        }

        td:hover {
            background-color: #6aa5ee;
           // cursor: url('../img/grab.png'), auto;
           cursor: var(--grab);
        }

        .event {
            background-color: red;
        }
    }
}

.container {
    display: inline-block;

    .winLose{
        zoom: 75%;
    svg {
        left: 0;
        display: inline-block;
        margin-left: 100px;
    }
    }

    .winLoseText {
        display: inline-block;
        transform: translate(35px, -80px);
        color: #6aa5ee;
        //position: absolute;
        font-size: 70px;
        font-weight: 600;
        letter-spacing: 10px;
    }
}

.timeScore {
    margin-top: 5px;
    h1 {
        color: #fff;
        margin: auto 40px;
    }
}

.allPoints {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    margin-top: 0px;
    top: 5px;

    .redPoints {
        svg > path {
            stroke: #ff323b;
        }

        .points {
            &:hover {
                transform: scale(105%);
            }
        }

        .red {
            transform: scaleX(-1) rotateX(-180%)
        }
    }

    .bluePoints {
        svg > path {
            stroke: #6aa5ee;
        }

        .points {
            margin-right: 3px;
            &:hover {
                transform: scale(105%) scaleX(-1);
            }
        }

        .blue {
            transform: scaleX(-1)
        }
    }
  
}

.stats {
    
    top: 0;
    z-index: 10;
    position: relative;
    color: white;
    font-size: 30px;
    font-weight: 600;
    right: 0px;

    .wrapper {
        //outline: 1px ridge red;
        position: absolute;
        width: auto;
        height: auto;
        right: 20px;
        top: 14px;

        .container {
            display: flex;
            justify-content: center;
            margin-top: 0px;
        }

        img {
            width: 30px;
            height: 30px;
        }
    }

    .mode {
        text-align: center;
        left: 50%;
        //width: 100%;
        //overflow-x: hidden;
        //margin-left: 10px;
        transform: translateX(5%);
        //margin-left: 60px;
    }
    .geo {
        z-index: 10;
        //cursor: url('../img/grab.png'), auto;
        cursor: var(--grab);
        &:hover {
            transform: scale(1.2);
        }
    }
   
}

.imgMap {
    position: absolute;
    z-index: 9;
    height: 85%;
    width: 85%;
    object-fit:contain;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
}



 @media (max-width: 900px) {

    html {
        //max-height: 600px;
  //      transform: rotate(90deg);
        zoom: 50%;
        //width: 100vw;
        height: 100vh !important;

        .winLose {
            position: absolute;
            svg {
                position: relative;
                top:-20px !important;
                margin: 0 !important;
            }
            .winLoseText {
                position: relative;
                font-size: 3em;
                top: -70px !important;
                left: 70px;
                margin: 0 !important;
            }
            
        }
       

        .container_tables {
            position: absolute;
            top:50%;
            margin:-150px !important;
            padding: 0;
            transform: translateY(-50%);
        }
    }
 }

//     .winLose {
//         margin-top: -136px;
//         margin-left: -136px;
//         transform: scale(0.7);

//         .winLoseText {
//             transform: translate(32px, -69px);
//         }
//     }

//     .allPoints {
//         zoom: 0.85;
//         margin-top:-140px;
//     }

//     .team1Table {
//         position:relative; 
//         top: 40px;
//     }

//     .stats {
//         margin-top: 100px;

//         .wrapper {
//             margin-top: -163px;
//             transform: scale(0.65);
//         }
//     }

//     .container_tables {
//         margin-top: -135px;
//         transform: scale(0.75);
//     }

//     .redPoints .bluePoints {
//         margin-top: -138px;
//         transform: scale(0.75);

//     }

//     button#show-panel {
//         transform: scale(0.75);
//         left: -5px; 
//     }

//     .container_tables.show {
//         transform: scale(0.75);
//     }
// }

