//@import 'linies.scss';

html {
    cursor: url('../img/def.cur'), auto;

    body {
        margin: 0;
        padding: 0;
        overflow: hidden;


    }

    .vLoading {
        position: absolute;
        left: 50%;
        transform: translate(-50%, -50%);
        top: 50%;
        width: 150px;
        height: 150px;
    }

    @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
    font-family: "Roboto",
    sans-serif;
    background-image: url('https://cdn.playcaliber.com/site/media/wallpapers/2021/09/08/wallpapers-ksk_1920.jpg');
    background-color: black;
    background-position: bottom -250px right -60px;
    background-size: cover;
    background-repeat: no-repeat;
    //font-family: "Consolas", Sans-Serif;
    //position: relative;

    ::-webkit-scrollbar {
        width: 5px;
    }

    ::-webkit-scrollbar-thumb {
        border-width: 1px 1px 1px 2px;
        border-color: rgb(0, 0, 0);
        background-color: rgb(0, 0, 0);
    }

    ::-webkit-scrollbar-thumb:hover {
        border-width: 1px 1px 1px 2px;
        border-color: rgb(255, 0, 0);
        background-color: rgb(255, 0, 0);
    }

    ::-webkit-scrollbar-track {
        border-width: 0;
    }


}

.hint {
    z-index: 999;
    position: absolute;
    width: 250px;
    display: none;
    background-color: #222222;
    color: #898989;
    padding: 10px;
    font-size: 14px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}


.container_tables.show {
    transform: translateX(20%);
    transition: 1s ease;

}

.container_tables {
    transition: all .8s ease-in-out;
    display: block;
    margin-top: 0px;

    table {
        margin: 0 auto;
        transform: scale(.8);
        text-align: center;
        background: #1919192d;
        color: #ffffff;
        border-collapse: collapse;

        th {
            font-size: 13.5px;
            font-weight: 200;
            color: white;
            text-align: center;
            padding-right: 25px;

            &:nth-child(5) {
                padding-right: 100px;
            }
        }

        td {
            background: #0000007d;
            //padding-right: 15px;
            width: 80px;

            &:nth-child(5) {
                padding-right: 100px;
            }

            &:nth-child(6) {
                padding-right: 25px;
            }

            &:nth-child(7) {
                padding-right: 25px;
            }

            &:nth-child(8) {
                padding-right: 25px;
            }

            &:nth-child(9) {
                padding-right: 25px;
            }

            &:nth-child(10) {
                padding-right: 25px;
            }
        }

        tr {
            padding: 0;
        }

        tbody:first-child {
            margin-bottom: 10px;
        }

        tbody:not(:nth-child(1))>tr {
            cursor: pointer;
            

            .rank {
                z-index: 9;
                transform: translate(-116px, 8px);
                position: absolute;
                //text-align: right;
                font-size: 12px;
                width: 30px;
                background-color: rgba(0, 0, 0, 0.5);
            }

            .rankEmbed {
                position: absolute;
                width: 60px;
                height: 30px;
                transform: translate(-146px, 35px) rotateY(180deg);
                transform: translate(-427px, 37px) rotateY(0deg);
            }

            .assaultLogo,
            .gunnerLogo,
            .medicLogo,
            .sniperLogo,
            .assaultRLogo,
            .gunnerRLogo,
            .medicRLogo,
            .sniperRLogo {
                width: 45px;
                height: 45px;
                //fill: #6aa5ee;
            }

            .oper {
                width: 80px;
                transform: translate(-10px, 3px);
            }

            .lvlOp {
                position: absolute;
                z-index: 9;
                color: #6aa5ee;
                font-weight: 600;
                font-size: 12px;
                transform: translate(20px, 2px);
            }

            .nameOp {
                font-size: 11px;
                //font-stretch: ultra-condensed;
                font-weight: 400;
                color: #fec544;
                position: absolute;
                transform: translate(-42px, 4px);
            }

            .bevel {
                width: 72px;
                height: 20px;
                background: rgba(0, 0, 0, 0.441);
                transform: translate(-84px, 33px);
                //opacity: .7;
            }

            .lvlText {
                position: absolute;
                color: black;
                font-size: 18px;
                font-weight: 600;
                z-index: 9;
                width: 20px;
                text-align: center;
                transform: translate(-40px, -11px);
            }

            .baner {
                border-radius: 5px;
                transform: translate(-85px, 4px);
            }

            tspan {
                white-space: normal !important;
                color: white;
            }
            
            .name {
                position: absolute;
                font-size: 20px;
                font-weight: 500;
                white-space: nowrap;
                max-width: 200px;
                transform: translate(-300px, 27px);
                text-shadow: 1px 3px 3px black;
                overflow: hidden;
                text-overflow: ellipsis;
            }

            .wrapper>svg {
                z-index: 9;
                position: absolute;
                width: 40px;
                height: 40px;
                border-radius: 10px;
                transform: translate(-47px, -10px);
                transform: translate(-47px, -23px);
                fill: #cbcccb9b;

                span {
                    position: relative;
                    font-size: 22px;
                    left: -3px;
                    top: -36px;
                    color: black;
                    font-weight: 800;
                }
            }

            .perks {
                transform: translate(250px, -6px);

                .perk {
                    width: 30px;
                    height: 30px;
                    fill: white;
                    position: absolute;
                    border: 0.1px solid rgba(255, 255, 255, 0.11);

                    &._1 {
                        transform: translate(-376px, -30px);
                    }

                    &._2 {
                        transform: translate(-350px, -30px);
                    }

                    &._3 {
                        transform: translate(-376px, 0px);
                    }

                    &._4 {
                        transform: translate(-350px, 0px);
                    }
                }
            }

            &:hover {
                background-color:rgba(255, 255, 255, 50%);
                outline: 4px ridge white;
               // transform: scale(1.05);
              //  transition: ease .5s !important;
            }
        }
    }
}


.slide-out-panel {
    z-index: 1;
    position: fixed;
    margin-top: 10px;
    top: 0;
    left: -750px;
    width: 750px;
    height: 100%;
    //background-color: white;
    //box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    transition: left 1s ease;

    & input[type="file"] {
        display: none;
    }

    #list-container {
        display: none;
        overflow-y: auto;
        height: 300px;
    }
}

.slide-out-panel.show {
    left: 0;
    margin-top: 10px;

    #list-container {
        text-align: center;
        padding: 10px;
        display: block;
        color: grey;
        position: absolute;
        top: 46%;

        cursor: pointer;

        ul {
            list-style: none;
            margin-left: 0;
            padding: 0;
        }

        li {
            display: grid;
            grid-template-columns: repeat(5, 1fr);
            width: 700px;
            list-style: none;
            font-size: 15px;
            padding: 10px 30px 10px 10px;
            background-color: #000000;
            border-radius: 3px;
            margin-bottom: 5px;
            margin-left: 20px;
            cursor: pointer;
            border: 1px solid rgba(128, 128, 128, 0.51);

            & span {
                text-align: left;

                & img.basket {
                    display: none;
                    position: absolute;
                    width: 20px;
                    height: 20px;
                    margin-left: 5%;
                    margin-top: -3px;
                }

                & svg.star {
                    opacity: 0;
                    width: 54px;
                    height: 54px;
                    position: absolute;
                    margin-left: -59px;
                    margin-top: -18px;
                }
            }

            & span:nth-child(1) {
                width: 127px;
                padding-left: 50px;
                text-align: center;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }
        }

        li:hover {
            color: white;
            padding: 8px 28px 8px 8px;
            border: 3px solid white;

            & span {
                & img.basket {
                    display: inline;
                    opacity: .5;

                    &:hover {
                        opacity: 1;
                    }
                }

                & svg.star {
                    display: inline;
                    opacity: 1;
                }
            }
        }
    }
}
.icons {
    position: absolute;
    //top: 0%;
    z-index: 5;
    position: absolute;
    background-color: black;
    outline: 1px solid grey;
    width: 40px;
    height: 40px;
    color: grey;
    &:hover {
        outline: 2px solid white;
        background-color: rgba(255, 255, 255, 50%);
        color:white;
    }
    
}
img.folder {
    left: 50px;

}

.custom-file-input {
    position: absolute;
    top: 21%;

    & input[type="file"] {
        display: none;
    }

    & label {
        display: inline-block;

        transform: translateX(7px);
        cursor: pointer;
    }

   

    & label:hover {
        //background-color: #e6e6e6;
        //padding: 0px 0px 0px 1px ;
        //border: 1px solid white;
        cursor: pointer;
    }

    & label:active {
        //background-color: #d9d9d9;
        // cursor: pointer;
    }

    & label::before {

        cursor: pointer;
        content: "";
        font-size: 14px;
        font-weight: 400;
        display: inline-block;
        color: #6aa5ee;
    }

    //   & input[type="file"]:focus + label::before {
    //     outline: 1px dotted #000;
    //     outline: -webkit-focus-ring-color auto 5px;
    //   }

}

#month-selector {
    margin: 30px 0 10px;
    width: 226px;
    font-size: 16px;
}


button#show-panel {
    height: 135px;
    width: 50px;
    color: grey;
    font-size: 40px;
    font-weight: 800;
    font-family: "consolas";
    z-index: 2;
    position: fixed;
    outline:2px solid grey;
    top: 5%;
    left: 0;
    background-color: black;
    //border: 1px solid grey;

    &:hover {
        background-color: rgba(255, 255, 255, 50%);
        color: white;
        outline: 2px solid white;
    }
}

.calendar {
    color: white;
    margin-left: 20px;

    // position: absolute;
    // transform: translate(40px, 290px);
    .container {
        position: absolute;
        top: 24%;

        //transform: translateY(-50%);
        table {
            border-collapse: collapse;

        }

        td {
            width: 30px;
            height: 30px;
            text-align: center;
            vertical-align: middle;
            border: 1px solid black;
        }

        td:hover {
            background-color: #6aa5ee;
            cursor: pointer;
        }

        .event {
            background-color: red;
        }
    }
}

.container {
    display: inline-block;

    .winLose>svg {
        left: 0;
        display: inline-block;
        margin-left: 100px;
    }

    .winLoseText {
        display: inline-block;
        transform: translate(35px, -80px);
        color: #6aa5ee;
        //position: absolute;
        font-size: 60px;
        font-weight: 600;
        letter-spacing: 10px;
    }
}

.timeScore {

    // display: inline-block;
    h1 {
        color: #fff;
        margin: auto 40px;
    }
}

.allPoints {
    display: flex;
    justify-content: center;
    margin-top: -120px;

    .redPoints {
        svg > path {
            stroke: #ff323b;
        }

        .red {
            transform: scaleX(-1) rotateX(-180%)
        }
    }

    .bluePoints {
        svg > path {
            stroke: #6aa5ee;
        }

        .points {
            margin-right: 3px;
        }

        .blue {
            transform: scaleX(-1)
        }
    }
}

.stats {
    top: 0;
    position: relative;
    color: white;
    font-size: 30px;
    font-weight: 600;

    .wrapper {
        //outline: 1px ridge red;
        position: absolute;
        width: 400px;
        height: 500px;
        right: 20px;
        top: 44px;

        .container {
            display: flex;
            justify-content: center;
            margin-top: 0px;
        }

        img {
            width: 30px;
            height: 30px;
        }
    }

    .mode {
        text-align: center;
        left: 50%;
        //width: 100%;
        //overflow-x: hidden;
        //margin-left: 10px;
        transform: translateX(5%);
        //margin-left: 60px;
    }
}



@media (max-width: 1800px) {
    body {
        max-height: 600px;
    }

    .winLose {
        margin-top: -136px;
        margin-left: -136px;
        transform: scale(0.7);

        .winLoseText {
            transform: translate(32px, -69px);
        }
    }

    .allPoints {
        zoom: 0.85;
        margin-top:-140px;
    }

    .team1Table {
        position:relative; 
        top: 40px;
    }

    .stats {
        margin-top: 100px;

        .wrapper {
            margin-top: -163px;
            transform: scale(0.65);
        }
    }

    .container_tables {
        margin-top: -135px;
        transform: scale(0.75);
    }

    .redPoints .bluePoints {
        margin-top: -138px;
        transform: scale(0.75);

    }

    button#show-panel {
        transform: scale(0.75);
        left: -5px; 
    }

    .container_tables.show {
        transform: scale(0.75);
    }
}