.tv {
    position: absolute;
    background: url("../img/table.png") center;
    background-size:cover;
    z-index: 9;
    bottom: 0;
  }
  
//   .small_frame {
//     position: relative;
//     left: -100px;
//     top: 59px;
//     width: 112%;
//     height: 62%;
//     transform: perspective(1100px) rotateY(-60deg) rotateX(0deg) rotate3d(-5, 13, 7, 3deg);
//     overflow: hidden;
//   }
  