.empresa {
    
    //margin-top: 250px;
    width: 1300px;
    margin: 250px var(--mid);
    position: absolute;
    min-height: 10vh;
    top: 0;
    //width: 100%;
   // transition: all .5s;
   // --animate-duration: 2s;

    ul {
        font-size: 20px;
        margin-top: 50px;
        line-height: 30px;
        color: grey;
    }
}
