.footer {
    padding: 10px 200px;
    display: grid;
    grid-template-columns: 400px 500px auto;
    grid-template-rows: repeat(4, auto);
    height: 200px;
    background-color: rgb(0, 0, 0);
    color: white;

    .footer__flag {
        display: flex;
        grid-column-start: 2;
        grid-row-start: 1;
        width: 28%;
        &_text {
            text-decoration: uppercase;
        }
    }

    .footer__flag_text {
        grid-column-start: 2;
        grid-row-start: 2;
        line-height: 20px;
    }

    .footer__text_left {
        margin-left: 40px;
        grid-column-start: 1;
        grid-row-start: 2;
        position: relative;
        font-size: 14px;
    }

    .footer__logo__wrapper {
        grid-column-start: 1;
        grid-row-start: 1;
        position: relative;
      // width: 1%;
        top: 10px;
       // left: 220px;
        color: white;
        text-shadow: 3px 3px 5px black;
        cursor: pointer;
        z-index: 99;

        &:hover {
          //  color:rgba(255,0,0,.5);
        }

        &_textup {
            text-shadow: 3px 2px 2px black;
            font-family: 'Palanquin', sans-serif;
            font-size: 35px;
        }

        &_textdown {
            font-family: Arial;
            font-size: 29px;
            font-weight: bold;
            transform: translateX(35px) translateY(-20px);
            text-transform: uppercase;
        }
    }
}