.header_mini {
    
    .logo__roca {
        width: 38%;
        margin-top:15px;
        
}
    .logo__wrapper {
        top: 0px;
    }

    .menu {
    top: -20px;
    }

    .menu__overlay {
    height: 130px;
   // border: 1px solid red;
    }
}