
.inicio { 
    width: 1300px;
    position: absolute;
    min-height: 10vh;
    top: 0;
    margin: 250px var(--mid);
    
    
    //background-color: rgba(0, 0, 0, 0.3);
    
   

    h2 {
        margin-top: 70px;
        font-size: 25px;
        text-align: center;
        color: #007bff;
    }

    h3 {
        font-size: 20px;
        text-align: center;
        color: grey;
    }
    ul {
        font-size: 20px;
        margin-top: 50px;
        line-height: 30px;
        color: grey;
    }
}

