.inicio { 
    //display: none;
    
    //margin-left:100vw;
    margin-top: 250px;
    position: absolute;
    min-height: 10vh;
    top: 0;
    width: 100%;
   // transition: all .5s;
    --animate-duration: 2s;
    
    //background-color: rgba(0, 0, 0, 0.3);
    
   

    h2 {
        margin-top: 70px;
        font-size: 25px;
        text-align: center;
        color: blue;
    }

    h3 {
        font-size: 20px;
        text-align: center;
        color: grey;
    }
    ul {
        font-size: 20px;
        margin-top: 50px;
        line-height: 30px;
        color: grey;
    }
}