.logo {
    left: 50px;
    z-index: 99;
    &__roca {
        transition: var(--s) all;
        margin: 30px;
        width: 65%;
        pointer-events: none;
    }
    position: fixed;
    
    &__wrapper {
        transition: var(--s) all;
        position: absolute;
        top: 55px;
        left: 210px;
        color: white;
        text-shadow: 3px 3px 5px black;
        cursor: pointer;
        z-index: 99;

        &:hover {
          //  color:rgba(255,0,0,.5);
        }

        &_textup {
            text-shadow: 3px 2px 2px black;
            font-family: 'Palanquin', sans-serif;
            font-size: 50px;
        }

        &_textdown {
            font-family: Arial;
            font-size: 44px;
            font-weight: bold;
            transform: translateX(35px) translateY(-20px);
            text-transform: uppercase;
        }
    }
}