h1 {
color:rgba(255, 96, 53, 1);
font-size: 16px;
text-align: center;
}

h4 {
    text-transform: uppercase;
    font-size: 13.3px;
    font-weight: 100;
}

h3{
color:rgba(255, 96, 53, 1);
text-align: center;
font-size: 15px;
}

p {
    font-size: 13.3px;
}

.ital {
    font-style: italic;
}

body {
    background-color: rgba(29, 30, 2, 1);
}