.pageup {
    display: none;
    position: fixed;
    bottom: 40px;
    right: 40px;
    transform: scale(2) rotate(-90deg);
    color:$main-color;

    &:hover {
        text-decoration: none;
    }
}