html body {
    background-color:rgb(0, 0, 0);
    overflow: hidden;
    /* font-family: 'Consolas', sans-serif; */
    position: relative;
    width: 100%;
    height: 100%;
}

::selection {
    /*   color: rgb(0,255,0); */
      background: blue;
    }
    
    .button1 {
      /* position: fixed; */
      top: 50px;
      cursor: pointer;
      z-index: 9999;
    }
    
    .menu {
      @import url('https://fonts.googleapis.com/css2?family=Jura:wght@600&family=Roboto:wght@100;400;700;900&display=swap');
      font-family: 'Jura', sans-serif;
      position: absolute;
      font-size: 25px;
      width: 0;
      height: 0;
      opacity: 1;
      left: 30px;
      top: calc(100vh / 2 - 40px);      
      z-index: 999;
      display: block;
      /* top:100px; */
      text-align: left;
      background-color:black;
    } 
    .tnt:hover, .bitva:hover, .punch:hover{
      color:lime;      
      transition: .8s ease-out; 
      transition-timing-function: .8 ease;
    }
    


    li {
        
        color:white;
        display: flex;
        justify-content: space-between;
        padding-bottom: 10px;
        padding-left: 20px;
        list-style-type: none;
        cursor: pointer;
     
    }

   .container {
    z-index: -1;
    position: absolute;
    display: flex;
    justify-content: space-between;
    
    left: 0px;
    top: -7px;
    width: 100vw !important;
    height: 100vh !important;
    overflow: hidden;
    filter : blur(0px);
    
 
   }

   .hamburger {
      display: block;
      position: absolute;
      left: 20px;
      top: calc(100vh / 2);
      width: 56px;
      min-height: 10px;
      cursor: pointer;
      z-index: 9999;
      opacity: .5;
  }
  
  .hamburger:hover {
    
    /* transform: rotate(90deg); */
    opacity: 1;
    transition: .5s linear;   
    
  }
   
   iframe {
    z-index: -1;
    /* position: fixed; */
    overflow: hidden;
    width : 100%;
    height: 100%;
    top:  50%;
    /* transform: translateY(-50%); */
    
}

.overlay { 
  position: fixed;
  width: 100vw;
  height: 100vh;
  left: 0;
  top: 0;
  background-color: rgba(0,0,0,.8);
  transition: .8s all;
   
}

    


/* @media (min-width: 920px) {
  .hamburger {
    transform: scale(2);
    left: 20px;
    top: 20px;
  }
  .menu {
    left: -10px;
  }
} */