html body {
    background-color:rgb(0, 0, 0);
    overflow: hidden;
    /* font-family: 'Consolas', sans-serif; */
    position: relative;
}

/* ::-webkit-scrollbar{
  width:5px;
} */



::selection {
    /*   color: rgb(0,255,0); */
      background: blue;
    }
    
    .button1 {
      /* position: fixed; */
      top: 50px;
      cursor: pointer;
      z-index: 9999;
    }
    
    .menu {
      @import url('https://fonts.googleapis.com/css2?family=Jura:wght@600&family=Roboto:wght@100;400;700;900&display=swap');
      font-family: 'Jura', sans-serif;
      left: -20px;
      top: 2px;
      width: 0px;
      /* left:-140px;  */
      z-index: 999;
      display: block;
      position: fixed;
      text-align: left;
      background-color:black;
    }
    .tnt:hover, .bitva:hover, .ataka:hover{
      color:lime;      
      transition: .8s all; 
      filter: drop-shadow(2px 1px 2px rgb(0, 255, 0));
    }
    
.hamburger:focus {
  background-color:red;
}

    li {
        
        color:white;
        display: flex;
        justify-content: space-between;
        padding-bottom: 10px;
        padding-left: 20px;
        list-style-type: none;
        cursor: pointer;
     
    }

   .container {
    display: fixed;
    justify-content: space-between;
    top: 0;
    left: 0;
    width: 100vw !important;
    height: 100vh !important;
    overflow: hidden;
   }

   .hamburger {
      display: block;
      position: absolute;
      left: 0px;
      top: 0px;
      width: 26px;
      cursor: pointer;
      z-index: 9999;
    
      /* background-color: red; */
  }
    
   
  


   iframe {
    
    /* position: fixed; */
    overflow: hidden;
    width : 100%;
    height: 100%;
    top:  50%;
    /* transform: translateY(-50%); */

}
    